 <div *ngIf="showFilter" class="filter-style">
    <div style="height: 100%; overflow: scroll;">
    <ul>
      <div style="border-bottom: 1px solid grey; padding: 15px;">
        <a (click)="filterBox()" class="pointer"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <button type="button" (click)="applyFilter()" class="pull-right btn btn-primary f-9">APPLY FILTER</button>
        <!--<a (click)="clearFilter()" class="pull-right small pointer">CLEAR FILTER</a>-->
      </div>
      <li style="color: white;">BRAND</li>      
      <li>
        <input [(ngModel)]="filterCheckbox.all" type="checkbox" name="vehicle1" id="#all" class="m-right5 pointer">
          <span>All Brand</span>
        </li>
      <li><input [(ngModel)]="filterCheckbox.fiat" type="checkbox" name="vehicle1" id="#ford" class="m-right5 pointer">Fiat</li>
      <li><input [(ngModel)]="filterCheckbox.grandCherokee" type="checkbox" name="vehicle1" id="#fiat" class="m-right5 pointer">Grand Cherokee</li>
      <li><input [(ngModel)]="filterCheckbox.renegade" type="checkbox" name="vehicle1" id="#jeep" class="m-right5 pointer">Renegade</li>
      <li><input [(ngModel)]="filterCheckbox.ram" type="checkbox" name="vehicle1" id="#jeep" class="m-right5 pointer">Ram</li>
      <li><input [(ngModel)]="filterCheckbox.chrysler" type="checkbox" name="vehicle1" id="#jeep" class="m-right5 pointer">Chrysler</li>
      
      <li style="color: white;border-bottom: 1px solid gray;margin: 0px 10px 0 10px;padding: 0px;"></li>
    </ul>
    <ul style=" pointer-events: none;">
      <li style="color: white;">MODEL</li>
      <!--<li style="color: white;border-bottom: 1px solid gray;margin: 0 20px 0 20px;"></li>-->
      <li><input  type="checkbox" name="vehicle1"  class="m-right5">All Fiat</li>
      <li><input  type="checkbox" name="vehicle1"  class="m-right5">All Grand Cherokee</li>
      <li><input  type="checkbox" name="vehicle1"  class="m-right5">All Renegade</li>
      <li><input  type="checkbox" name="vehicle1"  class="m-right5">All Ram</li>
      <li><input  type="checkbox" name="vehicle1"  class="m-right5">All Chrysler</li>
      <li style="color: white;border-bottom: 1px solid gray;margin: 0px 10px 0 10px;padding: 0px;"></li> 
    </ul>
     <ul style=" pointer-events: none;">
      <li style="color: white;">TRIM</li>
      <!--<li style="color: white;border-bottom: 1px solid gray;margin: 0 20px 0 20px;"></li>-->
      <li><input  type="checkbox" name="vehicle1"  class="m-right5">All</li>
      <li><input  type="checkbox" name="vehicle1"  class="m-right5">Latitude</li>
      <li><input  type="checkbox" name="vehicle1"  class="m-right5">Latitude Plus</li>
      <li><input  type="checkbox" name="vehicle1"  class="m-right5">MOAB</li>
      <li style="color: white;border-bottom: 1px solid gray;margin: 0px 10px 0 10px;padding: 0px;"></li>
      
     
    </ul>
    </div>
  </div>

<div class="container" style="margin-top: 60px;">
   
  <div class="row">
    <div class="col-xs-6 col-md-1 padd-top15">
    <button type="button" class="btn bacck-btn" [routerLink]="['/dashboard']"> 
         <span class="glyphicon glyphicon-chevron-left bacck-arrow-padd"></span>
        Back
      </button>
    </div>
    <div class="col-xs-6 col-md-2 padd-top15 text-right">
      <button type="button" class="btn filter-btn"(click)="filterBox()"> 
        FILTER
        <span class="glyphicon glyphicon-chevron-right filter-arrow-padd"></span>
      </button>
    </div>
    <div class="col-xs-12 col-md-9 padd-top15">
      <button (click)="toggle()" id="bt" type="button" class="btn btn-primary pull-right f-12">+ CREATE NEW OFFER</button>
    </div>
  </div>

  <div [style.height.%]="height1" [style.width.%]="width1" style="display: inline-block;">
    <div style="margin: 0 auto;text-align: left; color:white;">
      <div  class="row m-btm30">
        <div *ngFor="let tactics of tacticsData"  class="col-xs-12 col-sm-6 col-md-3 text-center m-left-right10"> 
          <div [attr.carid]="tactics.id" class="car-panel pointer">
            <div style="background: black;">
              <div class="car1" [style.height.px]="carHeight" [style.background]="'url(./assets/images/' + tactics.img_url + ')'" 
              [style.background-size]="img_cover"  style="background-repeat: no-repeat;"></div>
              <div class="text-left padd-10 tactic-card">
                <div style="  color: #FFFFFF;	font-size: 14px;	font-weight: 500;">{{tactics.brand}} </div>
                <div style="	color: #B2B2B2;	font-size: 12px;">{{tactics.model}}</div>
                <div *ngIf="tactics.finance" style="color: #B2B2B2;	font-size: 12px;">Finance: {{tactics.finance || '--'}}</div>
                <div *ngIf="tactics.lease" style="color: #B2B2B2;	font-size: 12px;">Lease: {{tactics.lease || '--'}}</div>
                <div *ngIf="tactics.retail_consumer_cash" style="	color: #B2B2B2;	font-size: 12px;">Retail: {{tactics.retail_consumer_cash || '--'}}</div>
                <div *ngIf="tactics.seasonal_discount" style="	color: #B2B2B2;	font-size: 12px;">Seasonal Discount: {{tactics.seasonal_discount || '--'}}</div>
                <!--<div style="	color: #B2B2B2;	font-size: 12px;">{{tactics.valid_till}}</div>-->

                <!--<div style="	color: #B2B2B2;	font-size: 12px;">{{tactics.sales_expected}}</div>-->
                <!--<div style="	color: #B2B2B2;	font-size: 12px;">{{tactics.revenue_expected}}</div>-->
                <!--<div style="	color: #B2B2B2;	font-size: 12px;">{{tactics.total_cost}}</div>-->
                <div style="	color: #B2B2B2;	font-size: 12px;" class="tactic-card-row row">
                  <!--<span class="col-md-6">{{tactics.cost}}</span>-->
                  
                  <span class="col-md-6">Valid Till: {{tactics.valid_till}}</span>
                  <span class="col-md-6 text-end padd-r35"><span class="glyphicon glyphicon-map-marker"></span>{{tactics.region}} {{tactics.country}}</span>
                </div>
                <!--<div style="	color: #B2B2B2;	font-size: 12px;"></div>-->
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div  [style.height.px]="height2" [style.width.%]="width2" style="max-width: 280px; display: inline-block;  vertical-align: top;">
    <ng-container *ngIf="show">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12 text-center">
          <div id="drop-zone" class="drop-zone-style">
          <button (click)="createOffer()" type="button"class="btn btn-info" style="width:100%; margin-bottom: 10px;">Create Offer</button>
            <!--drop zone-->
            
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

