.filter-btn{
    font-size: 12px;
    color: white;
    background-color: #2C2C30;
    border: 1px solid #78787C;
}
.filter-arrow-padd{
    padding: 2px 0px 5px 5px;
}
.car1{
    /*background-image: url('/../assets/images/car1.jpg');*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    height: 120px;
    width: 100%;
}
.tactic-card{
    height: 120px;
    /*vertical-align: bottom*/
}
.tactic-card:before{
    height: 120px;
    /*display: inline-block;*/
    vertical-align: bottom;
}
.tactic-card-row{
    /*display: inline-block;*/
    vertical-align: bottom;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.car-panel.ui-draggable.ui-draggable-handle.cloned{
    margin-bottom: 10px;
    width: 100%;
    max-width: 193px;
    /*height:40px;*/
}
.drop-zone-style{
    text-align: -webkit-center;
    /*text-align: center; */
    min-height: 800px;
    color: black;
    background-color: light-gray;
    margin: 15px 0px 0px 15px;
    border: 1px solid darkgray;
    border-radius: 5px;
    /* padding: 0px 15px 15px 15px; */
}
/*filter List Start*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000;
  opacity: 0.88;
}

li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

li{
    padding: 10px;
}
.filter-style{
    color: #BCC1CA;
    font-family: Lato;
    font-size: 12px;
    position: fixed;
    z-index: 1;top: 61px;
    bottom: 0;
}
/*filter List End */