.car1{
    /*background-image: url('/../assets/images/car1.jpg');*/
    background-repeat: no-repeat;
    background-size: contain;
    height: 130px;
    width: 100%;
}

/*filter List Start*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000;
  opacity: 0.88;
}

li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

li{
    padding: 10px;
}
.filter-style{
    color: #BCC1CA;
    font-family: Lato;
    font-size: 12px;
    position: fixed;
    z-index: 1;top: 61px;
    bottom: 0;
}
/*filter List End */