/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css?family=Roboto+Light');*/
html, body {
    overflow-x: hidden;
    height: 100%;
}   
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Roboto-Light', sans-serif;
    background-image: url(./assets/images/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-10{
    font-size: 10px;
}
.f-12{
    font-size: 12px;
}
.pointer {
    cursor: pointer;
}
.text-left{
    text-align: left;
}
.no-padd-left{
    padding-left: 0px;
}
.no-padd-right{
    padding-right: 0px;
}
.padd-r35{
    padding-right: 35px;
}
.padd-10{
    padding: 10px;
}
.padd-left8{
    padding-left: 8px;
}
.padd-top15{
    padding-top: 15px;
}
.padd-top20{
    padding-top: 20px;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;    
}
.m-btm30{
    margin-bottom: 30px;
}
.m-right5{
    margin-right: 5px !important;
}
.m-left-right10{
    margin-top: 15px;
    margin-bottom: 15px;
}
.car-panel.ui-draggable-dragging{
    width: 200px;
    z-index: 10000;
}

.cross-delete{
    position: absolute;
    right: 0;
    top:0;
    width: 25px;
    height: 20px;
    background-color: white;
}

.car-panel.cloned{
    position: relative;
}


/*Query bulder query popup style end*/
.grid-stack {
    /*background: lightgoldenrodyellow;*/
    background-color: transparent;
    height: 300px;
    width: 100%;
}

.grid-stack-item-content {
    /*color: #2c3e50;*/
    color: white;
    text-align: center;
    border: 1px solid #5A5A64;
    border-radius: 5px;
}

.ui.button.create-new-container, .chart-btn{
    margin-bottom: 20px;
}

.del-container{
    position: absolute;
    bottom: 0;
    padding: 5px 0px 5px 0px;
    left: 35%;
}
.padd-top10{
    padding-top: 10px;
}

.new-query-btn{
    float: right;
}

.modals.dimmer .ui.scrolling.modal {
    margin-left: 15%;
    margin-right: 15%;
}

/*New CSS*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Light');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Roboto-Light', sans-serif;
    background-image: url(./assets/images/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.no-padd-left{
    padding-left: 0px;
}
.no-padd-right{
    padding-right: 0px;
}
.padd-left8{
    padding-left: 8px;
}
.padd-top15{
    padding-top: 15px;
}
.padd-top20{
    padding-top: 20px;
}
.text-center{
    text-align: center;
}
.m-btm30{
    margin-bottom: 30px;
}
.m-top35{
    margin-top: 35px;   
}




