<h2>Drag and Drop</h2>
<!--<div style="height: 200px; width: 200px; color:white; background-color: gray;"  
      id="div1" 
      (drop)="drop($event)" 
      (dragover)="allowDrop($event)">
      <div>
          <div ng-repeat="car in carList"
          draggable="true" 
          (dragstart)="drag($event)" 
          id="car">
            Car1 Details {{car}}
            <img 
            src="https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?auto=compress&cs=tinysrgb&h=350" width="88" height="31">
          </div>
      </div>
     
</div>

<div style="height: 200px; width: 200px; color:white; background-color: light-gray;" 
  id="div2" 
  (drop)="drop($event)" 
  (dragover)="allowDrop($event)">
</div>-->
