<div class="header row">
  <div class="col-xs-4 col-sm-2">
    <input (click)="changed()" type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li [routerLink]="['/dashboard']" class="option-item"><a target="_self">Dashboard</a></li>
        <li [routerLink]="['/tactics-list']"  class="option-item"><a target="_self">Tactics</a></li>
        <li [routerLink]="['/offer-listing']"  class="option-item"><a target="_self">Offers</a></li>
        <li (click)="resetCache()" ><a target="_self"  class="option-item">Reset All Data</a></li>
        <!--        
        <li><a href="" target="_blank">Instagram</a></li>
        <li><a href="" target="_blank">Twitter</a></li>
        <li><a href="" target="_blank">YouTube</a></li>
        <li><a href="" target="_blank">Linkedin</a></li>-->
      </ul>
    </div>
    <img routerLink="/dashboard" class="fca-logo-padd pointer out-line-trans" src="./assets/images/fca_logo.png" />
  </div>
  <!--<div class="col-xs-4">
    
  </div>-->
  <div class="col-xs-6 col-sm-8">
    <div class="input-group search-width padd-top15" style="pointer-events: none;">
      <input type="text" class="search-query form-control search-input" placeholder="Search" />
      <span class="input-group-btn">
        <button class="btn search-btn" type="button">
          <span class=" glyphicon glyphicon-search"></span>
      </button>
      </span>
    </div>
  </div>

  <!--<div class="col-xs-1 col-sm-1 no-padd-right padd-left8 text-end">
    <img class="padd-top20" src="./assets/images/notifications_icon.png"/>    
  </div>-->
  <div class="col-xs-2 col-sm-2  padd-top20 text-end ">
    <!--<img class="padd-r20 pointer" src="./assets/images/notifications_icon.png" />-->
    <span class="profile-cercle pointer">S</span>
  </div>
</div>