<div class="container" style="margin-top: 60px;">
  <div class="row">
    <div class="col-xs-12 padd-top15">
      <button type="button" class="btn bacck-btn" [routerLink]="['/dashboard']">
        <span class="glyphicon glyphicon-chevron-left bacck-arrow-padd"></span>
        Back
      </button>
      <button type="button" [disabled]="!this.tacticsData.length" class="btn filter-btn pull-right" (click)="compaireOffer()">
        Compare Offer
        <span class="glyphicon glyphicon-chevron-right filter-arrow-padd"></span>
      </button>
    </div>
  </div>
  <div class="row m-btm30">

    <div *ngFor="let tactics of tacticsData" class="col-xs-12 col-sm-6 col-md-3 text-center m-left-right10">
      <div>
        <div style="background: black;">
          <div class="car1" [style.height.px]="carHeight"
            [style.background]="'url(./assets/images/' + tactics.img_url + ')'" [style.background-size]="img_cover"
            style="background-repeat: no-repeat;">
            <label class="container1">
              <span style="color:#fff">{{tactics.brand}} {{tactics.model}}</span>
              <input [(ngModel)]="tactics.isChecked" type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Brand</td>
                <td>{{tactics.brand}}</td>
              </tr>
              <tr>
                <td>Model</td>
                <td>{{tactics.model}}</td>
              </tr>
              <tr>
                <td>Finance</td>
                <td>{{tactics.finance}}</td>
              </tr>
              <tr>
                <td>Lease</td>
                <td>{{tactics.lease}}</td>
              </tr>
              <tr>
                <td>Retail Consumer Cash</td>
                <td>{{tactics.retail_consumer_cash}}</td>
              </tr>
              <tr>
                <td>Seasonal Discount</td>
                <td>{{tactics.seasonal_discount}}</td>
              </tr>
              <tr>
                <td>Price</td>
                <td>{{tactics.price}}</td>
              </tr>
              <tr>
                <td>Country</td>
                <td>{{tactics.country}}</td>
              </tr>
              <tr>
                <td>Region</td>
                <td>{{tactics.region}}</td>
              </tr>
              <tr>
                <td>Valid Till</td>
                <td>{{tactics.valid_till}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>