#pie-chart-area{
    width: 100%;
    height: 80%;
}

#line-chart-area-zonal{
    width: 100%;
    height: 80%;
}

#bar-chart-area{
    width: 100%;
    height: 80%;
}

#monthly-line-chart-area{
    width: 100%;
    height: 80%;
}


